<footer class="footer">
	<a href="/" class="footer-logo"><img src="img/svg/logo-white.svg" alt="" loading="lazy"></a>
	<div class="footer-text">
		<div class="footer-info">
			<p>ИП Ромашов Михаил Владимирович</p>
			<p>ИНН: 244316210732 / ОГРНИП: 322246800046180</p>
		</div>
		<ul class="footer-links">
			<li><a href="#">Политика конфиденциальности</a></li>
		</ul>
	</div>
	<div class="footer-buttons">
		<a href="#" class="btn btn-darkblue">Связь с основателем</a>
		<a href="#" class="btn btn-accent">Оставить заявку</a>
	</div>
</footer>