{% extends 'components/_layout.html' %}
{% set site_title = 'Форма' %}

{% block content %}

<div class="popup" style="display: flex; padding: 32px; margin: 0 auto;">
	<h3 class="popup-title">Запишитесь на бесплатную консультацию</h3>
	<p class="popup-desc">Разберём вашу задачу и покажем, как может выглядеть ваш сайт</p>
	<form action="#" method="post" class="popup-form">
		<div class="popup-input__group">
			<input type="text" name="name" class="popup-input" placeholder="Как вас зовут?">
			<input type="tel" name="phone" class="popup-input masked" placeholder="Ваш номер телефона (WhatApp)">
			<input type="text" name="telegram" class="popup-input" placeholder="Логин в Telegram (например, @ivan_ivanov)">
		</div>
		<label class="popup-textarea__label">
			<p>Опишите ваш проект: ниша и что продаете</p>
			<textarea name="text" class="popup-textarea" placeholder="Будет идеально, если пропишете нюансы которые вам важны, чтобы мы подготовились к созвону"></textarea>
		</label>
		<div class="popup-radio__group">
			<p>Что вы хотели бы реализовать?</p>
			<label class="popup-radio">
				<input type="radio" name="type" value="Сайт" checked>
				<span>Сайт</span>
			</label>
			<label class="popup-radio">
				<input type="radio" name="type" value="Презентации">
				<span>Презентации</span>
			</label>
			<label class="popup-radio">
				<input type="radio" name="type" value="Продукт">
				<span>Продукт</span>
			</label>
			<label class="popup-radio">
				<input type="radio" name="type" value="Приложение">
				<span>Приложение</span>
			</label>
		</div>
		<div class="popup-radio__group">
			<p>В какие сроки хотите уложиться?</p>
			<small>Чем больше времени, тем лучше результат</small>
			<label class="popup-radio">
				<input type="radio" name="time" value="Горит (3-5 дней)" checked>
				<span>Горит (3-5 дней)</span>
			</label>
			<label class="popup-radio">
				<input type="radio" name="time" value="5-14 дней">
				<span>5-14 дней</span>
			</label>
			<label class="popup-radio">
				<input type="radio" name="time" value="14-20 дней">
				<span>14-20 дней</span>
			</label>
			<label class="popup-radio">
				<input type="radio" name="time" value="20+ дней">
				<span>20+ дней</span>
			</label>
		</div>
		<input type="hidden" name="form">
		<button class="btn btn-accent">Получить бесплатную консультацию</button>
		<label class="popup-checkbox">
			<input type="checkbox" name="politic" required checked>
			<span>Я даю согласие на обработку персональных данных на условиях, изложенных в <a href="#">Политике конфиденциальности</a></span>
		</label>
	</form>
</div>

<div class="popup popup-thanks" id="popup-thanks">
	<h3 class="popup-title-xl">Спасибо!<br> Ваши ответы получили</h3>
	<p class="popup-desc">Мы свяжемся с вами в течение 2-4 часов и подберем удобные дату и время консультации</p>
	<img src="img/thanks.gif" alt="" loading="lazy">
	<div class="popup-text">
		<p>А пока есть время — подпишитесь на нашего тг-бота.<br> В нем мы показываем кейсы, делимся полезными статьями и фишками по увеличению конверсии на любых этапах воронки.</p>
		<p><b>В боте вас будет ждать подарок:</b> Чек-лист «Как быстро поднять конверсию сайта на 30–100%» небольшими усилиями.</p>
	</div>
	<a href="https://t.me/thepackbird_bot" target="_blank" class="btn btn-accent">Подписаться на Telegram-бота</a>
</div>

{% endblock %}